@use '../util' as *;

.container {
	padding: 0 rem(110);
	max-width: rem(1440);
	margin: 0 auto;

	@include breakpoint-down(tablet) {
		padding: 0 rem(50);
	}

	@include breakpoint-down(small) {
		padding: 0 rem(20);
	}
}
.mt-3{
	margin-top: 3rem;
}