@use '../util' as *;

.category {
    h1,
    &__subtitle {
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    &__side {
        display: grid;
        gap: 1rem;
        &__item {
            display: flex;

            &--text {
                h3 {
                    font-weight: 700;
                    font-size: rem(32);
                }
            }

            img {
                width: 25%;
            }
        }
    }
    &__center img {
        width: 95%;
        text-align: center;
        align-self: flex-start;
    }
}
