@use '../util' as *;

.testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;

    &__left {
        background: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.863)),
            url(/img/testimonialback.png);

        padding: 3.5rem;
        display: grid;
        gap: 3rem;

        &__header {
            display: grid;
            justify-items: center;
        }
        &__footer {
            display: grid;

            &--paragraph{
                font-weight: 700;
                font-size: rem(24);
            }
        }
    }

    &__right{
        background: url(/img/testimonialbackright.png);
        background-size: cover;
        background-position:  right;
        position: relative;

        ion-icon{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            color: var(--brown);
            background-color: var(--white);
            border-radius: 50%;
            padding: 1rem;
            font-size: 1.7rem;
            border: 0 solid;
        }
    }
}
